* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255,134,80);
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
}

.wrapper {
  margin-top: 175px;
}

button {
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  background-color: rgb(17, 37, 59);
  text-align: center;
  padding: 20px 40px;
  transition-duration: 0.3s;
  margin: auto;
  display: block;
}

button:hover {
  background-color: rgb(33, 71, 112);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
